# Игнорируем секреты (чтобы они не "впекались" в образ)
.env
*.env
.env.*

# Игнорируем папку Git (она весит много и не нужна внутри образа)
.git
.gitignore

# Игнорируем локальные бинарники
# (Если ты скомпилировал файл под Linux/CachyOS, он не заработает внутри Alpine)
server
api
*.exe

# Игнорируем настройки редакторов
.vscode
.idea

# Игнорируем документацию и временные файлы
README.md
docs/
*.log
tmp/

# Игнорируем Docker-файлы (они не нужны внутри самого работающего контейнера)
Dockerfile
docker-compose.yml
.dockerignore

# Игнорируем тесты (в продакшн-образе тесты не нужны)
*_test.go
test-data/